/* 
    Main Styles
    
    Will Soeltz and Kaitlyn Carcia
    University of Massachusetts Lowell, 91.462 GUI Programming II, Jesse M. Heines
	File: main.css
	Main styles for website
    Last updated March 19, 2014 by KC
*/

/**********

		Base Styles

**********/

/* Background classroom image */
body{

	background-image: url(assets/classroom_bg.jpg);
	background-repeat:no-repeat;
	background-position:center top; 
	font-family: 'Open Sans', sans-serif;
	color: #feffff; /* white */
}

/* Several headers and prompts */
h2{
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
}

/* Early Birds slogan quote */
h4{
	font-weight: 600;
	font-style: italic;
	font-size: 22px;
	text-align: center;
	color: #000;
}

/* Learn more info on main splash div */
p{
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5em; 
	text-align: left;
}

/* Styling for learn more text */
p.learnMore {
	font-size: 15px;
	line-height:150%;
	text-align: left;
	margin-bottom:5px;
	font-weight: 400;
}

/* Login and registration input boxes */
input{
	width: 405px;
	height: 46px;
	border: 1px;
	border-color: #e5e5e5;
	background-color:#fbfbfb;
	font-size: 15px;
	margin-top: 28px;
	padding-left: 15px;
}

/* Styling placeholder in input box */
/* Source: http://stackoverflow.com/questions/9538921/placeholder-text-formatting */
/*For Webkit browsers (Chrome, Safari) */
input::-webkit-input-placeholder {
	color: #bdc2c4;
	font-size: 15px;
}

/* Styling placeholder in input box */
/* Source: http://stackoverflow.com/questions/9538921/placeholder-text-formatting */
/* For Mozilla Firefox */
input:-moz-placeholder {
	color: #bdc2c4;
	font-size: 15px;
}

/* Login and registration button */
.button{
	margin-top: 28px;
	width: 133px;
	height:45px;
	padding: 0px; /* centers text in button - http://stackoverflow.com/questions/2883373/simple-css-issue-text-wont-center-in-a-button */
	text-transform: uppercase;
	font-size: 13px;
	background-color: #f7d708;
	text-decoration: none;
	color: #009ece;
	font-weight: 600;
}

/* Specific styling for registration button */
#register.button{
	margin-top: 58px;
}

/* Thematic break on login page */
hr{
	height:1px;
	border-width:0;
	color:#feffff;
	background-color:#feffff;
	margin-top: 40px;
	margin-bottom: 40px;
}

/* Hover style for learn more link */
div#sideContent a.learn:hover{
	text-decoration: underline;
}

/* For vertical sliding div */
.vertical{
	margin-left: 395px;
	padding: 30px 30px 0px 30px;
}



/**********

		Alignment

**********/

/* Main content wrapper */
div#contentWrapper{
	width:1276px;
	margin: 0 auto;
	position: relative;
}

/* Contains logo */
div#logoHalf{
	width: 763px;
	float: left;
	padding-top: 50px;
	text-align: center;
}

/* Blue part of splash screen */
div#blueDrop{
	position: fixed;
	width: 6000px;
	height: 6000px;
	top: -1000px;
	z-index: -1000;
	background-color: #009ece; /* blue */
}

/* Styling for navigation links */
div#navHalf{
	width: 513px;
	height: 700px;
	float: left;
	background-color: #009ece;
	overflow: hidden;
}

/* Other content (not links) */
div#sideContent{
	position: relative;
	height: 700px;
	width: 1030px;
	top:-700px;
}

/* Content block for student "login" page */
div.contentBlock{
	padding-top: 50px;
	display: inline-block;
	height: 650px;
	width: 404px;
	padding-left: 54px;
	padding-right: 54px;
	float: left;
}

/* Centers links */
div.center {
	text-align:center;
}

/* Learn More tab */

div#learnMoreTab{
	display: block;
	width:56px;
	height: 185px;
	/*background-color: #0481a8;  darker blue */
	background-image: url(assets/learnMore.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	left: 707px;
	top: 450px;
	text-indent: -10000px;

}
div#learnMoreTab a{
	display: block;
	width:56px;
	height: 185px;
}

div#learnMoreTab:hover{
	background-position: 0 -185px;
}

.learnMore{
	color: #000;
}

div#about{
	width: 609px;
	height: 380px;
	margin: 0 auto;
	overflow: auto;

}

div#aboutContent{
	width: 110%;
	height: 1420px;
	background-image: url(assets/learnmore_bg.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	
}

.learn{
	width: 320px;
	height: 250px;
	padding-top: 34px;
	display: block;
	text-align: center;
}

.right{
	margin-left: 270px;
}

.left{
	color: #222a2d;
	margin-left: 20px;
}

div.learn h5{
	font-weight: 800;
	font-size: 20px;
	margin-bottom: 15px;

}


div.learn p{
	text-align: center;

}

/**********

		Main Body Styles

**********/

/* Bigger headding */
h2.extraSize{
	font-size: 50px;
	margin-bottom: 248px;
}

h2.thequestion{
	width: 397px;
	padding: 4px;
	background-color: #0481a8;  /* darker blue */
}

div#sideContent h1 a#student{
	display: inline-block;
	width:405px;
	height: 67px;
	text-align:left;
	font-size: 67px;
	/*background-color: #f7d708; */
	text-decoration: none;
	color: #feffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 20px;
	background-image: url(assets/studentArrows.png);
	background-repeat: no-repeat;
	background-position: 330px 0px;
	
}

div#sideContent h1 a#teacher{
	display: inline-block;
	width:405px;
	height: 47px;
	text-align:left;
	font-size: 47px;
	/*background-color: #f7d708; */
	text-decoration: none;
	color: #feffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 230px;
	background-image: url(assets/teacherArrows.png);
	background-repeat: no-repeat;
	background-position: 260px 0px;
	
}

div#sideContent a.learn{
	display: block;
	margin-top: 5px;
	margin-bottom: 30px;
	color: #f7d708;
	font-weight: 600;
	background-image: url(assets/right_arrow.png);
	background-repeat: no-repeat;
	background-position: 100px 3px;
	width: 125px;
	text-decoration: none;
}

/* Style for the standard yellow/blue button */
div#sideContent a.stdButton{
	display: inline-block;
	width:133px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align:center;
	font-size: 13px;
	background-color: #f7d708;
	text-decoration: none;
	color: #009ece;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Hover color for links- Student */
div#sideContent h1 a#student:hover{
	/*background-color: #feffff;*/
	text-decoration: underline;
	background-position: 330px -67px;
}

/* Hover color for links- Teacher */
div#sideContent h1 a#teacher:hover{
	/*background-color: #feffff;*/
	text-decoration: underline;
	background-position: 260px -47px;
}



/* Hover color for standard button */
div#sideContent a.stdButton:hover{
	background-color: #feffff;
}

/* Hoven color for buttons */
div#sideContent .button:hover{
	background-color: #feffff;
}

/* Up arrow styling */
div#sideContent img.goBack{
	margin-bottom: 20px;
	padding: 30px 30px 30px 0px;
}

div#hiddencontent{
	display: block;
	width: 0px;
	height: 0px;
	overflow: hidden;
}