/* 
    Styles for the student login page
    
    Will Soeltz and Kaitlyn Carcia
    University of Massachusetts Lowell, 91.462 GUI Programming II, Jesse M. Heines
	File: studentlogin.css
	Main styles for website
    Last updated March 19, 2014 by KC
*/


/**********

		Base Styles

**********/

html{
	height: 100%;
}

/* background style */
body{
	height: 100%;
	background-image: none;
	background-color: #29a8cf; /* blue */
	font-family: 'Open Sans', sans-serif;
	color: #feffff;
	background-image: url(assets/illustrated_bg_small.jpg);
}

/* style for headers */
h2{
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 18px;
}

/* "not sure how to find lab code?" */
p{
	font-size: 16px;
	margin-top: 28px;
	margin-bottom: 28px;
}

/* Login and registration input boxes */
input[type=text]{
	width: 370px;
	height: 46px;
	border: 1px;
	border-color: #e5e5e5;
	background-color:#fbfbfb;
	font-size: 15px;
	margin-top: 8px;
	padding-left: 15px;
}

/* Styling placeholder in input box */
/* Source: http://stackoverflow.com/questions/9538921/placeholder-text-formatting */
/*For Webkit browsers (Chrome, Safari) */
input::-webkit-input-placeholder {
	color: #bdc2c4;
	font-size: 15px;
}

/* Styling placeholder in input box */
/* Source: http://stackoverflow.com/questions/9538921/placeholder-text-formatting */
/* For Mozilla Firefox */
input:-moz-placeholder {
	color: #bdc2c4;
	font-size: 15px;
}

/* Login and registration button */
.button{
	margin-top: 28px;
	width: 133px;
	height:45px;
	padding: 0px; /* centers text in button - http://stackoverflow.com/questions/2883373/simple-css-issue-text-wont-center-in-a-button */
	text-transform: uppercase;
	font-size: 13px;
	background-color: #f7d708;
	text-decoration: none;
	color: #009ece;
	font-weight: 600;
}

/**********

		Alignment

**********/

/* Create wrapper that holds all content */
div#contentWrapper{
	width:1066px;
	margin: 0 auto;
    padding-bottom: 120px;
    position: relative;
    
}

div#footerPusher{
    min-height: 100%;
    position: relative;
}

/* Create wrapper that holds all header content */
div#header{
	width: 1066px;
	height: 180px;
	display: block;
	position: relative;
}

/* Position the logo text "EarlyBirds" */
div#logoText{
	width:409px;
	margin: 0 auto;
	padding-top: 20px;
}

/* Position the Early Bird character */
div#theEarlyBird{
	position: absolute;
	top: -150px;
	left: 50px;
	z-index: -50;
}

/* Create wrapper that holds all main body content */
div#mainBodyContent{
	width: 500px;
	margin: 50px auto;
	background-color: #009ece;
	position: relative;
	
	
}

/* Div containing prompt for lab code entry */
div.labEntry{
	display: inline-block;
	margin-right: -4px; /* counteracts wierd spacing issue */
	width: 531px;
	height: 310px;
	text-align: center;
	position: absolute;
	padding-top: 50px; 
}

/* Text for students who've already started lab */
.right{
	left:533px;
	border-left:2px solid #4fb2d1;
}

.center{
	text-align: center;
}

/* Div containing finding your lab code */
div#findCode{
	position: absolute;
	text-align: center;
	top: 360px;
	width: 1066px;
	height: 200px;
	border-top:2px solid #4fb2d1;
}


/* Container for entire footer */
div#footer{
    overflow: hidden;
    background-color: #009ece;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0px;
}

div#footer a{
	color: #f7d708;
	text-decoration: none;
}

div#footer a:hover{
	text-decoration: underline;
}

/* Container for content in footer */
div#bottomContent{
    width: 1060px;
    margin: 0 auto;
    background-color: #009ece; 
}

/* Container for contact info */
div#contact{
    width: 290px;
    float: left;
    color: #bcd8e1;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
}

/* Container for learn more */
div#learnMore{
    width:350px;
    float: left;
    margin-left: 420px;
    color: #bcd8e1;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
}



/**********

		Links

**********/

/* Link styling */
a.stdButton{
	display: inline-block;
	width:143px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align:center;
	font-size: 13px;
	background-color: #f7d708;
	text-decoration: none;
	color: #009ece;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Hover color for standard button */
a.stdButton-hover:hover{
	background-color: #feffff;
}

/* For continue button */
.stdButton{
	font-family: "Open Sans";
	display: inline-block;
	width:143px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align:center;
	font-size: 14px;
	background-color: #f7d708;
	text-decoration: none;
	color: #009ece;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 20px;
	border: none;
}

/* Hover for Continue button */
.stdButton:hover{
	background-color: #feffff;
	cursor: pointer;
}

a.lablink{
	display: block;
	background-color: #9ccf31;
	width: 367px;
	height: 33px;
	margin: 0 auto;
	text-align: left;
	padding-top: 14px;
	padding-left: 5px;
	text-decoration: none;
	font-weight: 700;
	color: #3b474b;
	font-size: 18px;
	background-image: url(assets/lab_next.png);
	background-repeat: no-repeat;
	background-position: 338px 0px;
}

a.lablink:hover{
	background-position: 338px -47px;
	color: #009ece;
	background-color: #fff;
}

a#viewLabBtn{
	margin-left: 50px;
	margin-bottom: 50px;
	background-color: #ff9e00;
	color: #feffff;
}

a#viewLabBtn:hover{
	background-color: #feffff;
	color: #009ece;
}

.submitMargin{
	margin-bottom: 50px;
}


/**********

		Validation

**********/

div.errors{
	padding-right: 60px;
	text-align: right;
	line-height: 1.2em;
	height: 0px;
	overflow: visible;
	color: #333;
	font-weight: 600;
	font-style: italic;
}

input.error {						  /*  puts red border around fields with errors */
	border: solid 1px #333;
}