/*
	Teacher Hub Styles
	Created 2/27/2014 by Kaitlyn Carcia

	Will Soeltz and Kaitlyn Carcia
	University of Massachusetts Lowell, 91.462 GUI Programming II, Jesse M. Heines
	File: studenthub.css
	Main styles for Student Hub
	Last updated February 27, 2014 by KC
*/

/**********

Base Styles

**********/

/* General background color, font-family, and font color */
body{
    background-color: #29a8cf; /* blue */
    font-family: 'Open Sans', sans-serif;
    color: #feffff; /* white */
}

/**********

Links

**********/

/* General link styles */
a.stdButton{
    width: 166px;
    height: 54px;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    line-height: 54px;
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
    cursor: pointer;
    /*disable highlighting text on buttons*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hover color for standard button */
a.stdButton-hover:hover{
	background-color: #feffff;
}

/* Styling for the previous link */
a.previous{
    background-image: url(assets/left_arrow_blue.png);
    background-repeat: no-repeat;
    background-position: 6px 16px;
    margin: 15px 143px 0px 35px;

}

/* Styling for the next link */
a.next{
    background-image: url(assets/right_arrow_blue.png);
    background-repeat: no-repeat;
    background-position: 135px 16px;
    margin-top: 15px;
    
}

/* Styling for the submit link */
a.submit{
    background-color: #ff9e00; /* orange */
    color: #feffff; /* white */
    margin: 15px 35px 0px 339px;
    font-weight: 700;
}

/* Styling for the submit link on hover*/
a.submit:hover{
    background-color: #feffff; /* white */
    color: #ff9e00; /* orange */
}


/* Styling for the save & quit link */
a.saveQuit{
    background-color: #9CCF31; /* orange */
    color: #feffff; /* white */
    margin-right: 0px;
    font-weight: 700;
    float: right;
}

a.saveQuit:hover{
    color: #3B474B;
}

/* Disabled class for when a user is at the beginning or end of a lab report */
a.disabled {
    background-color: #C0C0C0;
    color:  #feffff;
    cursor: default;
    background-image: none;

}

a.disabled:hover {
    background-color: #C0C0C0;
    color:  #feffff;
    cursor: default;
    background-image: none;

}

/* Styling for lab name */
h2{
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}

/* Styling for multiple headers on studenthub */
h3{
    font-weight: 400;
    font-size: 19px;
    line-height: 150%;
    display: inline-block;
}

/* Bold for many headers */
.bold{
    font-weight: 700;
}

/* Smaller font */
h4{
    font-size: 11px;
    line-height: 150%;
}

/* General font style on page */
p{
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.7em;
}

.italics{
    font-style: italic;
}

/**********

Alignment

**********/

/* Contains assignment info, tabs, buttons - Everything in the darker blue -
Height is no longer pre-defined */
div#mainBodyContent{
    width: 1066px;
    padding-top: 20px;
    margin-top: 40px;
    height: 100%;
    position: relative;
}

/* Logo text div - increase width */
div#logoText{
    width: 431px;
}

/* Add space between logo and main container */
div#header{
    margin-top: 20px;
    padding-bottom: 7px;
}

/* Container for all lab info */
div.labInfo{
    margin: 0px 5px 42px 50px;
    float: left;
}

/* Div for labs hints */
div#labHelp{
    width: 996px;
    height: 124px;
    background-color: #4fb2d1; /* light blue */
    margin: 0px 35px 0px 35px;
    position: relative;
}

/* Container for hints */
div#hintContainer{
    width: 600px;
    padding: 15px 0px 25px 20px;
    float: left;
}

/* Bird sitting on Next button */
div#bird{
    margin-left:725px;
    position: absolute;
    z-index: 100;
}

div#navButtons{
    position: absolute;
    top:593px;
    width: 1066px;
}

/**********

Main Body Styles

**********/

/* Keeps parents of floated elements from colliding
Source: http://stackoverflow.com/questions/218760/how-do-you-keep-parents-of-floated-elements-from-collapsing */
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

/* Centers links */
div.center {
    text-align:center;
}

/* code for implementation of input boxes */
.textInput{
	position: absolute;
	top: 50px;
	left: 0px;
	padding:10px;
	width:976px;
	height:250px;
	resize: none;
	border: none;
}

#saving{
    position: absolute;
    top: 446px;
    left: 13px;
    z-index: 100;
    color: #5a5a5a;
}

#tabs{
    background-color: #c0c0c0;
}

/* Removes blue outline on input text box
http://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome */
*:focus {
    outline: 0;
}


/**********

Submit Warning Box

**********/

div#submitWarning h2{
    color: #333;
    border-top: solid 80px #009ece; /* orange */
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    line-height: 1.5em;
}

#submit{
    position: absolute;
    margin: 0;
    top: 200px;
    right: 15px;
}

#submit:hover{
    color: #feffff;
    background-color: #cb7e00;
}

#cboxClose{
    position:absolute; 
    top: 200px; 
    left: 15px; 
    background:url(assets/returnToLab.png) no-repeat 0 0; 
    width:166px; 
    height:54px; 
    text-indent:-9999px;
}
#cboxClose:hover{
    background-position: 0 -54px;
}