/* 
    Teacher Hub Styles
    Created 2/19/2014 by Kaitlyn Carcia
    
    Will Soeltz and Kaitlyn Carcia
    University of Massachusetts Lowell, 91.462 GUI Programming II, Jesse M. Heines
    File: teacherhub_labs.css
    Main styles for Teacher Hub Labs page
    Last updated May 3, 2014 by WS
*/

/**********

                Base Styles

**********/
/* Name and complete text styling for labs */
.studentname, .complete{
    color: #627176; /* gray */
    font-size: 14px;
    line-height: 350%;
}

/* Date text styling for labs */
.date{
    color: #627176;
    font-size: 12px;
    line-height: 400%;
}

/* Headers for labs text */
.nameH, .dateH, .completeH{
    font-size: 14px;
    line-height: 500%;
    color: #627176; /* light gray */
    font-weight: 600;
}

/* Yes in completed section */
.yes{
    color: #9ccf31;
}

/* No in completed section */
.no{
    color: #ce0000;
}

/**********

                Links

**********/

/* View links */
a.viewLab{
    background-color: #f7d708; /* yellow */
   /* width: 113px;*/
    height: 45px;
    display: inline-block;
    padding: 16px 16px 16px 16px;
    margin-bottom: 14px;
    color: #009ece; /* blue */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;    
    font-weight: 600;
    float: left;
}

/* Return to assignments link */
a.return{
    background-color: #f7d708; /* yellow */
    display: inline-block;
    padding: 16px 16px 16px 16px;
    margin-bottom: 14px;
    color: #009ece; /* blue */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;    
    font-weight: 600;
    float: left;
    position:absolute;
}

/* Hover color for view labs link */
a.viewLab:hover{
    background-color: #009ece; /* blue */
    color: #f7d708; /* yellow */
}

/* Hover color for back to assignments link */
a.return:hover{
    background-color: #009ece; /* blue */
    color: #f7d708; /* yellow */
}

/**********

                Alignment

**********/

/* Container for all labs */
div#labsContainer{
    margin-left: 275px;
}

/* Container for one lab */
div#lab{
    margin-bottom: 21px;
    overflow: hidden;
    height: 45px;
}

/* Container for student name */
div#name{
    background-color: #ceecf5; /* light blue */
    width: 285px;
    height: 45px;
    padding: 0px 10px 0px 10px;
    float: left;
    box-sizing: border-box; /* http://stackoverflow.com/questions/13255311/padding-increases-width-and-height-of-div */
}

/* Container for lab date */
div#date{
    background-color: #ceecf5; /* light blue */
    width: 177px;
    height: 45px;
    padding: 0px 10px 0px 10px;
    float: left;
    box-sizing: border-box;
}

/* Container for complete field - yes or no */
div#complete{
    background-color: #ceecf5; /* light blue */
    width: 120px;
    height: 45px;
    padding: 0px 10px 0px 10px;
    float: left;
    box-sizing: border-box; /* http://stackoverflow.com/questions/13255311/padding-increases-width-and-height-of-div */
}

/* Name header for labs */
div#nameHeader{
    width: 285px;
    height: 45px;
    padding: 0px 10px 0px 10px;
    float: left;
    box-sizing: border-box; /* http://stackoverflow.com/questions/13255311/padding-increases-width-and-height-of-div */
}

/* Date header for labs */
div#dateHeader{
    width: 177px;
    height: 45px;
    padding: 0px 10px 0px 10px;
    float: left;
    box-sizing: border-box;
}

/* Complete header for children */
div#completeHeader{
    width: 120px;
    height: 45px;
    padding: 0px 10px 0px 10px;
    float: left;
    box-sizing: border-box; /* http://stackoverflow.com/questions/13255311/padding-increases-width-and-height-of-div */
}


div#welcomeContent{
    margin: 0px 0px 23px 36px;
}

/**********

                Miscellaneous

**********/

/* Creates orange background for "WelcomeContainer" div */
div#orangeBg{
    background-color: #ff9e00; /* orange */
    width: 290px;
    position: absolute;
    height: 6000px;
    top: -1000px;
    z-index: 50;
}

/* Container for welcome information - changes to orange */
div#welcomeContainer{
    background-color: #ff9e00; /* orange */
}

.nolabs{
    display: block;
    width: 450px;
    height: 40px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: #ceecf5; /* light blue */
}

h3.nolabs{
    font-weight: 600;
}