/* 
* {
font-family: 'Open Sans', sans-serif;
}
 */

html, body {
	background-color: #009ece;
    padding: 0;
	margin: 0;
}

/* http://css-tricks.com/multiple-backgrounds-left-half-and-right-half/ */
#leftHalf {
   background: url(../images/classroom_bg.jpg) no-repeat;
   background-size: auto 140%;
   position: absolute;
   width: 50%;
   height: 100%;
   resize: both;
}

#rightHalf {
   background-color: #009ece;
   position: absolute;
   right: 0px;
   height: 100%;
   resize: both;
}

#splash {
	position:absolute;
	margin-left: 52%;
	margin-top:5%;
}

.splash {
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 18px;
	color: #feffff;
	margin-top: 5px;
	margin-bottom: 5px;
}

.description {
	font-size: 16px;
	width: 304px;
}

.question {
	font-size: 50px;
	margin-bottom: 175px;
}

.button {
	background-color: #f7d708;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 61px;
	color: #009ece;
	border: none;
	cursor: pointer;
}

a.splash:link {
	font-size: 16px;
	color: #f7d708;
	vertical-align: middle;
}

a.splash:visited {
	font-size: 16px;
	color: #f7d708;
}

a.splash:hover {
	font-size: 16px;
	color: #f7d708;
}